{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% load course_tags %}
{% load static %}
{% block content %}

<style>
  .shape-left {
  left: 0;
  max-width: 0;
  overflow: hidden;
}
</style> 

<header class="py-8 py-md-10 text-center text-white" style="background: linear-gradient(135deg,rgb(77, 35, 5),rgb(250, 132, 21)); position: relative;">
  <div class="container py-xl-2 animate__animated animate__fadeInDown">
    <h1 class="display-4 fw-bold mb-3">Shop Checkout</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-scroll justify-content-center mb-0">
        <li class="breadcrumb-item">
          <a class="text-white text-decoration-none" href="#">Home</a>
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">Shop Checkout</li>
      </ol>
    </nav>
  </div>
  <div class="position-absolute bottom-0 start-0 w-100 z-0">
    <svg viewBox="0 0 1440 80" xmlns="http://www.w3.org/2000/svg">
      <path fill="#ffffff" d="M0,64L1440,0L1440,160L0,160Z"></path>
    </svg>
  </div>
</header>




    <!-- SHOP CHECKOUT
    ================================================== -->
    <div class="container pb-6 pb-xl-10">
        <form name="checkout" method="post" class="checkout woocommerce-checkout" action="?action=create_payment">
            {% csrf_token %}
            <div class="col2-set" id="customer_details">
                <div class="col-1">
                    <div class="woocommerce-billing-fields">
                        <h3>Billing details</h3>
                        <div class="woocommerce-billing-fields__field-wrapper">
                            <p class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field" id="billing_first_name_field" data-priority="10">
                                <label for="billing_first_name" class="">First name <abbr class="required" title="required">*</abbr></label>
                                <input required type="text" class="input-text " name="first_name" id="billing_first_name" placeholder="" value="{{user.first_name}}" autocomplete="given-name" autofocus="autofocus">
                            </p>
                            <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-priority="20">
                                <label for="billing_last_name" class="">Last name <abbr class="required" title="required">*</abbr></label>
                                <input required type="text" class="input-text " name="last_name" id="billing_last_name" placeholder="" value="{{user.last_name}}" autocomplete="family-name">
                            </p>
                            <p class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field" id="billing_email_field" data-priority="10">
                                <label for="billing_email" class="">Email <abbr class="required" title="required">*</abbr></label>
                                <input required type="email" class="input-text " name="email" id="billing_email" placeholder="" value="{{user.email}}" autocomplete="given-name" autofocus="autofocus">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="order_review" class="woocommerce-checkout-review-order">
    <div class="woocommerce-checkout-review-order-inner">
        <h3 id="order_review_heading">Your order</h3>

        <table class="shop_table woocommerce-checkout-review-order-table">
            <thead>
                <tr>
                    <th class="product-name">Product</th>
                    <th class="product-total">Total</th>
                </tr>
            </thead>

            <tbody>
                <tr class="cart_item">
                    <td class="product-name">
                        {{ course.title }}
                    </td>
                    <td class="product-total">
                        ₹ {{ course.price }}
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr class="cart-discount">
                    <th>Discount</th>
                    <td>{{ course.discount }}%</td>
                </tr>

                <tr class="cart-subtotal">
                    <th>Subtotal</th>
                    <td>
                        ₹ {% discount_calculation course.price course.discount %}
                    </td>
                </tr>

                <tr class="tax-rate">
                    <th>Tax</th>
                    <td>18%</td>
                </tr>

                <tr class="order-total">
                    <th><strong>Grand Total</strong></th>
                    <td>
                        <strong>₹ {% grand_total course.price course.discount %}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="payment" class="woocommerce-checkout-payment">
        <div class="form-row place-order">
            <button id="rzp-button1" class="btn btn-primary btn-block">
                PLACE ORDER
            </button>
        </div>
    </div>
</div>

        </form>
    </div>

    <!-- CALL ACTION
    ================================================== -->
    <section class="py-6 py-md-11 border-top border-bottom" data-jarallax data-speed=".8" style="background-image: url({% static 'assets/img/illustrations/illustration-1.jpg' %})">
        <div class="container text-center py-xl-4" data-aos="fade-up">
            <div class="row">
                <div class="col-xl-7 mx-auto">
                    <h1 class="text-capitalize">Subscribe our newsletter</h1>
                    <p class="text-capitalize font-size-lg mb-md-6 mb-4">Your download should start automatically, if not Click here. Should I give up, huh?.</p>
                    <div class="mx-md-8">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm-wide" type="button" id="button-addon2">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('rzp-button1').onclick = function(e){
        e.preventDefault();

        const form = document.forms['checkout'];
        const formData = new FormData(form);

        fetch("?action=create_payment", {
            method: "POST",
            headers: {
                "X-CSRFToken": form.csrfmiddlewaretoken.value,
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            const options = {
                "key": "rzp_live_BV6MSWWJv5zygc",
                "amount": data.amount,
                "currency": "INR",
                "name": "Indeed Inspiring Online Course",
                "description": "Payment For " + data.course_title,
                "order_id": data.order_id,
                "callback_url": "https://indeedinspiring.com/lms/verify_payment",
                "prefill": {
                    "name": data.notes.name,
                    "email": data.notes.email,
                    "contact": data.notes.phone
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            const rzp1 = new Razorpay(options);
            rzp1.open();
        })
        .catch(error => {
            alert("Something went wrong while creating the order.");
            console.error(error);
        });
    };
</script>
{% endblock %}